.album-header {
  .album-image-wrapper {
    position: relative;

    img {
      width: 100%;
      height: 250px;
      object-fit: cover;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
    }

    .overlay-text {
      position: absolute;
      bottom: 1.5rem;
      left: 1rem;
      color: white;

      h2 {
        font-size: 1.8rem;
        font-weight: bold;
        margin-bottom: 0.3rem;
      }

      p {
        font-size: 0.9rem;
        margin-bottom: 0.6rem;
      }

      .tags {
        display: flex;
        gap: 0.5rem;
        flex-wrap: wrap;

        span {
          background: #f05a94;
          padding: 0.3rem 0.75rem;
          border-radius: 15px;
          font-size: 0.7rem;
          font-weight: 500;
        }
      }
    }
  }
}

.album-songs {
  padding: 1.2rem;

  h3 {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  .album-song {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.1rem;

    .info {
      display: flex;
      align-items: center;
      gap: 0.75rem;

      img {
        width: 28px;
      }

      h4 {
        font-size: 0.95rem;
        font-weight: 600;
        margin: 0;
      }

      p {
        font-size: 0.7rem;
        color: #888;
        margin: 0;
      }
    }

    span {
      font-size: 0.75rem;
      color: #aaa;
    }
  }
}
